aiofiles==24.1.0
aiomysql==0.2.0
fastapi==0.111.1
httpx==0.27.0
jieba==0.42.1
matplotlib==3.7.5
numpy==1.22.3
opencv-python==4.10.0.84
Pillow==10.4.0
playwright==1.42.0
pydantic==2.8.2
PyExecJS==1.5.1
quart==0.19.6
redis==4.6.0
scikit-learn
tenacity==8.2.2
uvicorn==0.30.1
wordcloud==1.9.3
